.Rproj.user
.Rhistory
.RData
.Ruserdata
_gsdata_
._.DS_Store ._LogoNMBU.png ._LogoNMBUwhite.png ._Main.pdf ._Presentation-Klakken.Rproj ._apa.csl ._header.tex ._references.bib
._.DS_Store ._LogoNMBU.png ._LogoNMBUwhite.png ._Main.pdf ._Presentation-Klakken.Rproj ._apa.csl ._header.tex ._references.bib
